if data.type == 'joined'
    li.message.message--center.message--joined
        span.message__nickname= data.user.name
else if data.type == 'date'
    li.message.message--center.message--date
        div= data.date
else
    li.message(
        class={'message--owner': data.owner, 'message--without-text': !data.text},
        data-mid=data.id)
        if !data.owner
            .avatar.message__avatar
                include avatar.pug
        .message__body!= data.text
            if data.images
                for filename in data.images
                    img(src=`/uploaded/${filename}?rid=${data.rid}`)
            .message__info
                if data.isEdited
                    | edited
                if lifetime >= 0
                    .trash= lifetime
                else
                    .time= createAt
