unless data.type
    li.message.message--center.message--typing
        span

else if data.type === 'typing'
    - var avatarSize = 'small';
    include avatar.pug
    b.message__nickname= data.username

else
    li.message.message--live
        include avatar.pug
        .message__body!= data.text
            .message__info
    