
{% macro _field(field, inline=False, required=False, attrs={}, label_class='') -%}
    {% do attrs.update({'data-required': 'true' if required else False}) %}
    
    {%- if inline -%}
        {{ field(**attrs)|safe }} {{ field.label(class=label_class)|safe }}
    {%- else -%}
        {% if field.type != 'HiddenField' -%}
            {{ field.label(class=label_class)|safe }}
        {%- endif %}
        {{ field(**attrs)|safe }}
    {%- endif %}
{% endmacro %}


{% macro _errors(field) -%}
    <ul class="field__errors">
        {%- if field.errors -%}
            {% for error in field.errors -%}
                <li>{{ error }}</li>
            {%- endfor %}
        {%- endif -%}
    </ul>
{%- endmacro %}


{% macro render_field(field, attrs={}, required=False, label_class='',
                      field_class='', icon='') -%}
    <div class="field {{ field_class }}
                {%- if icon %} has-left-icon{% endif %}
                {%- if not field.data %} is-empty{% endif %}">
        {% if icon %}
            <i class="field__left icon icon--{{ icon }}"></i>
        {% endif %}
        {% if field.type == 'BooleanField' %}
            {{ _field(field, True, required, attrs, label_class) }}
        {% else %}
            {{ _field(field, False, required, attrs, label_class) }}
        {% endif %}
        {% if caller %}
            {{ caller() }}
        {% endif %}
        
        {{ _errors(field) }}
    </div>
{%- endmacro %}


{% macro render_field_list(fields, attrs={}, required=False, label_class='',
                           field_class='', list_class='') -%}
    {%- if fields.type == 'RadioField' -%}
        {{ fields.label }}
    {%- endif -%}
    
    <ul id="{{ fields.id }}" class="{{ list_class }}">
        {%- for field in fields -%}
            <li class="field {{ field_class }}
                       {%- if icon %} has-left-icon{% endif %}
                       {%- if not field.data %} is-empty{% endif %}">
                {% if icon %}
                    <i class="field__left icon icon--{{ icon }}"></i>
                {% endif %}
                {% if fields.type == 'FieldList' -%}
                    {{ _field(field, False, required, attrs, label_class) }}
                {%- elif fields.type == 'RadioField' -%}
                    {{ _field(field, True, required, attrs, label_class) }}
                {%- endif %}
            </li>
        {%- endfor %}
    </ul>
    {{ _errors(fields) }}
{%- endmacro %}