{% macro flash_notify(category_name=None) %}
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for (type, category), message in messages -%}
                {% if not category_name or category_name == category %}
                    <div class="c-notify{{ ' c-notify--%s' % type if type }}">{{ message }}</div>
                {% endif %}
            {%- endfor %}
        {% endif %}
    {% endwith %}
{% endmacro %}


{% macro alert(message) %}
    <div class="c-notify c-notify--alert">{{ message }}</div>
{% endmacro %}