@import '../ic/activity';

.activity {
    $self: &;
    
    &__header {
        &--actions.is-opened + #{$self}__header {
            #{$self}__avatar {
                bottom: 0;
                width: 20px;
                height: 20px;
                right: 10px + $padding_activity_horizontal;
                opacity: 0;
            }
        }
    }
    
    &__avatar {
        @extend .z-depth-2;
        position: absolute;
        right: $padding_activity_horizontal;
        bottom: -20px;
        opacity: 1;
        transition: all .3s ease-in-out;
    }
    
    &__info {
        display: none;
        width: 100%;
        padding: 190px 20px 20px;
        text-align: center;
    }
    
    &__body {
        &-info {
            margin-top: 16px;
            color: $color_text_secondary;
            font-size: em(18);
            font-weight: 300;
            text-align: center;
        }
        
        .list:not(:empty) + &-info {
            display: none;
        }
    }
}
