.avatar {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 1;
    
    &:after {
        position: absolute;
        display: block;
        content: '';
        width: 38px;
        height: 38px;
        top: 0;
        left: 0;
        border: solid 1px $color_text_hint;
        border-radius: 50%;
        z-index: 2;
    }
}
