.container {
    $self: &;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1010px;
    margin: 0 auto;
    box-shadow: 1px 1px 2px rgba($color_dark, .14),
                -1px 1px 2px rgba($color_dark, .14);
    overflow: hidden;
    
    @media all and (min-width: 1010px) and (min-height: 600px) {
        height: calc(100% - 24px);
        border-radius: 0 0 4px 4px;
    }
    
    &:after {
        position: absolute;
        display: block;
        content: '';
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: $color_text_hint;
        opacity: 0;
        z-index: 9500;
        transition: opacity .2s ease-in-out;
    }
    
    &.is-opened:after {
        opacity: 1;
        width: 100%;
    }
}