@import '../sprites/emoji';


.emoji {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-indent: -9999px;
    
    &.w20 {
        width: 20px;
        height: 20px;
        line-height: 20px;
    }
    
    &.w26 {
        width: 26px;
        height: 26px;
        line-height: 26px;
    }
}

.emoji-container {
    @extend .z-depth-3;
    position: absolute;
    left: 4px;
    top: -204px;
    width: 340px;
    height: 200px;
    background: $color_theme_card;
    border-radius: 3px;
    overflow: hidden;
    z-index: 5;
    
    &__body {
        height: 100%;
        padding-bottom: 42px;
    }
    
    &__list {
        height: 158px;
        padding: 5px;
        overflow-y: scroll;
        
        a {
            cursor: pointer;
            display: inline-block;
            padding: 5px;
            
            &:hover {
                background: $color_theme_app-bar_gray;
            }
        }
        
        .emoji {
            cursor: pointer;
        }
    }
    
    &__tabs {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 42px;
        background: $color_theme_app-bar_gray;
        text-align: center;
    }
    
    &__tab {
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
        width: 42px;
        height: 42px;
        line-height: 42px;
        text-align: center;
        color: $color_text_secondary;
        border-top: solid 2px transparent;
        
        &:hover,
        &.is-active {
            color: $color_accent;
            border-top-color: $color_accent;
        }
    }

    &.is-hidden {
        display: none;
    }
}

