.icon {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    font-style: normal;
    z-index: 1;
    overflow: hidden;
    
    &:after {
        font-family: 'fontello';
    }
    
    &--trash:after {
        content: '\e800';
    }
    
    &--next:after {
        display: inline-block;
        text-indent: 4px;
        content: '\f006';
    }
    
    &--add:after {
        content: '\e801';
        font-size: 120%;
    }
    
    &--user:after {
        content: '\e803';
    }
    
    &--group:after {
        content: '\e802';
    }
    
    &--back:after {
        content: '\e804';
    }
    
    &--send:after {
        content: '\e805';
    }
    
    &--attach:after {
        display: block;
        content: '\e806';
        transform: rotate(-45deg);
    }
    
    &--share:after {
        content: '\e808';
    }
    
    &--unread:after {
        display: block;
        content: '\f006';
        margin-top: 18px;
        margin-left: 1px;
        transform: rotate(90deg);
        font-size: 16px;
    }
    
    &--password:after {
        content: '\e80a';
    }
    
    &--upload:after {
        content: '\f02f';
    }
    
    &--refresh:after {
        content: '\e809';
    }
    
    &--contacts:after {
        content: '\e80c';
    }
    
    &--add-contact:after {
        content: '\e80b';
    }
    
    &--settings:after {
        content: '\e80d';
    }
}