@import 'ic/lists/list';


.list {
    &__avatar {
        
    }
    
    &__info {
        .room-info__right {
            bottom: 8px;
        }
        
        .room-info__trash {
            bottom: initial;
            top: 8px;
        }
    }
}
