@import '../variables';


.message {
    $self: &;
    display: block;
    width: 100%;
    clear: both;
    position: relative;
    
    &:not(#{&}--center):not(#{&}--owner) {
        padding-right: 60px + $padding_activity_horizontal !important;
    }
    
    &:after {
        display: table;
        clear: both;
        content: '';
        height: 0;
        width: 100%;
    }
    
    img {
        display: inline-block;
        vertical-align: top;
    }
    
    &__avatar {
        display: inline-block;
        vertical-align: top;
        width: 40px;
        height: 40px;
        
        p {
            color: $color_text_primary;
            font-size: em(18);
            line-height: 40px;
            border-radius: 50%;
            border: solid 1px $color_text_hint;
            text-align: center;
            text-transform: uppercase;
            
            &.is-light {
                color: $color_text-light_primary;
                border-color: $color_text-light_hint;
            }
        }
    }
    
    &__body {
        display: inline-block;
        vertical-align: top;
        min-height: 30px;
        max-width: calc(100% - 48px);
        padding: 6px 8px;
        margin-left: 4px;
        background: #fff;
        color: $color_text_primary;
        border: solid 1px $color_light-gray;
        border-radius: 4px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.03),
                    0 1px 4px 0 rgba(0,0,0,0.048),
                    0 3px 1px -2px rgba(0,0,0,0.12);
        font-weight: 300;
        word-wrap: break-word;
        
        pre {
            white-space: pre-line;
        }
        
        img:not(.emoji) {
            display: block;
            width: 100%;
            margin-top: 4px;
            border: 0;
            border-radius: 3px;
            
            @media all and (min-width: 800px) {
                max-width: 400px;
            }
        }
    }
    
    &__info {
        float: right;
        padding: 3px 0 0 5px;
        color: $color_text_hint;
        font-size: 10px;
        font-weight: 400;
        
        > div {
            display: inline-block;
            padding-left: 4px;
        }
        
        .trash {
            color: $color_error;
            font-size: 12px;
            
            &:after {
                font-family: 'fontello';
                content: ' \e800';
            }
        }
    }
    
    &__nickname {
        color: $color_dark-blue;
        font-weight: 700;
        
        &:after {
            font-weight: 300;
            color: $color_dark;
        }
        
        &:not(:last-of-type):after {
            content: ',';
            margin-right: 8px;
        }
    }
    
    &--owner {
        padding-left: 60px + $padding_activity_horizontal !important;
        
        > img {
            display: none;
        }
        
        #{$self}__body {
            float: right;
            margin-left: 0;
            background: #daffdc;
            border-color: darken(#daf2dc, 3%);
            
            &:not(:first-child) {
                margin-right: 4px;
            }
        }
        
        &.is-selected #{$self}__body {
            background: #b2fbb6;
            border-color: darken(#b2fbb6, 3%);
        }
    }
    
    &--without-text {
        #{$self}__body {
            background: transparent;
            border: none;
            box-shadow: none;
            padding-top: 0;
        }
    }
    
    &--center {
        text-align: center;
        width: 100%;
        line-height: 20px;
        
        img {
            border-width: 1px;
        }
        
        b, span {
            line-height: 24px;
            margin-left: 4px;
            
            &:last-child:after {
                margin-left: 4px;
            }
        }
    }
    
    &--joined span:last-child:after {
        content: 'присоединился к беседе';
    }
    
    &--live &__info:before {
        content: 'live ';
        text-transform: uppercase;
        color: darken($color_success, 10%);
        font-weight: 700;
    }
    
    &--date > div {
        width: auto;
        margin: 0 (-$padding_activity_horizontal);
        background: $color_theme_app-bar_gray;
        color: $color_text_secondary;
        line-height: 28px;
    }
    
    &.is-selected {
        background: rgba($color_primary-light, .8);
        
        &:not(#{$self}--owner) #{$self}__body {
            background: $color_primary-50;
        }
    }
}
