.messager {
    $self: &;
    
    .activity__header:not(.activity__header--actions) {
        h2 {
            font-size: 18px;
            line-height: 36px;
            padding-right: 120px;
            text-align: left;
        }
    }
    
    .activity__header--actions.is-edit-message {
        .activity__actions {
            display: none;
        }
        
        & ~ .activity__footer {
            #{$self}__send {
                display: none;
            }
            
            #{$self}__edit {
                display: block;
            }
        }
    }
    
    .activity__body {
        bottom: 42px;
        z-index: 1;
        
        &.has-preview {
            bottom: 42px + 112px;
        }
    }
    
    .activity__footer {
        background: #e7e7e7;
        z-index: 3;
        
        .icon {
            float: right;
            width: 42px;
            height: 42px;
            color: $color_dark-blue;
            border-radius: 50%;
            text-align: center;
            line-height: 42px;
            z-index: 3;
            cursor: pointer;
        }
    }
    
    .room-info {
        margin-top: -5px;
        padding: 0 120px 0 60px;
        
        &__right {
            right: 60px;
        }
    }
    
    &__list {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        max-height: 100%;
        padding: 20px 0 $padding_activity_horizontal;
        overflow-y: auto;
        
        li {
            height: auto;
            padding: 4px $padding_activity_horizontal 4px;
            border-bottom: none !important;
        }
    }
    
    &__textarea {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        min-height: 42px;
        padding: 12px 72px 9px 42px;
        background: #f4f4f4;
        z-index: 2;
        
        span {
            float: left;
            margin-left: 0 !important;
            margin-right: 4px;
            
            &:last-of-type {
                margin-right: 8px;
            }
        }

        textarea, pre {
            display: block;
            width: 100%;
            min-height: 14px;
            border: none;
            outline: none;
            font-family: Roboto, Ubuntu, Arial, sans-serif;
            font-weight: 300;
            font-size: 14px;
            line-height: 16px;
            background: transparent;
        }
        
        textarea {
            height: 16px;
            cursor: text;
            resize: none;
            z-index: 2;
        }
        
        pre {
            white-space: pre-wrap;
            word-wrap: break-word;
        }
    }
    
    &__preview {
        list-style: none;
        overflow: hidden;
        
        li {
            position: relative;
            display: inline-block;
            vertical-align: top;
            height: 100px;
            width: 100px;
            margin: 6px 0 6px 6px;
            z-index: 1;
            overflow: hidden;
            
            img {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: auto;
                z-index: 2;
            }
            
            &.is-vertical img {
                width: 100%;
                height: auto;
            }
        }
        
        
        span {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 20px;
            height: 20px;
            background: #0f0;
            z-index: 3;
        }
    }
    
    &__attach {
        width: 30px !important;
        font-size: 18px;
    }
    
    &__send {
        font-size: 24px;
        width: 42px;
    }
    
    &__edit {
        display: none;
    }
    
    &__emoji {
        float: none;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    
    &__unread-button {
        bottom: -20px;
        width: 40px;
        height: 40px;
        line-height: 30px;
        transition: opacity .3s ease-in-out;
        opacity: .8;
        
        &:after {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }
        
        &:hover {
            opacity: 1;
        }
        
        &.is-hidden {
            display: none;
        }
    }
    
    @media all and (min-width: 800px) {
        .activity__body,
        .activity__footer {
            border-left: solid 1px $color_light-gray;
        }
        
        .activity__back[ic-close-activity] {
            display: none;
        }
    }
}