.room-info {
    $self: &;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    color: $color_text_secondary;
    
    &__right {
        position: absolute;
        right: 0;
        bottom: 8px;
        font-size: em(14);
        line-height: 14px;
        text-align: center;
        text-transform: lowercase;
        
        span {
            display: inline-block;
            vertical-align: middle;
        }
        
        .icon {
            width: 12px;
            margin-left: 4px;
            color: rgba($color_black, $opacity_icon_active);
        }
    }
    
    &__trash {
        bottom: 30px;
    }
    
    &--light {
        color: $color_text-light_hint;
        
        #{$self}__right .icon {
            color: rgba($color_white, $opacity_icon_active);
        }
    }
}