if users.length > 1 && !isDialog
    .room-info__right
        span #{onlineUids.length} / #{users.length} 
        span.icon.icon--group
if removeTimeMinutes >= 0
    .room-info__right.room-info__trash
        span.js-room-remove-time= removeTimeMinutes
        span.icon.icon--trash