if !avatarInfo && data && data.user && data.user.avatarInfo
    - avatarInfo = data.user.avatarInfo;

if !avatarSize && data && data.avatarSize
    - avatarSize = data.avatarSize;

if avatarInfo
    if avatarInfo.url
        - let url = avatarInfo.url;
        if avatarSize
            - url += `?s=${avatarSize}`;
        
        img.image.image--circle(src=url)