{% set activity_name = 'user_list' -%}

<div class="activity{% if opened_activity == activity_name %} is-opened{% endif %}"
    ic-activity="{{ activity_name }}"
    ic-url="/users/"
    ic-type="list:users"
    >
    <div class="activity__header">
        <i class="activity__back material-icons" ic-close-activity>&#xE5C4;</i>
        <h2>Контакты</h2>
    </div>
    <div class="activity__body has-float-button">
        <ul class="list"></ul>
        <p class="activity__body-info">Список контактов пуст</p>
    </div>
    <button class="button button--floating icon icon--add"
        type="button"
        ic-open-activity="add_user">
    </button>
</div>