<div class="activity{% if opened_activity == 'user_signin' %} is-opened{% endif %}"
    ic-activity="user_signin"
    ic-url="/user/signin"
    >
    <div class="activity__header">
        <h2>Идентификация</h2>
    </div>
    <div class="activity__body">
        {%- include 'user/forms/signin.html' -%}
    </div>
</div>