<div class="activity"
    ic-activity="user_signup"
    ic-url="/user/signup"
    >
    <div class="activity__header">
        <i class="activity__back material-icons" ic-close-activity>&#xE5C4;</i>
        <h2>Регистрация</h2>
    </div>
    <div class="activity__body">
        {%- include 'user/forms/signup.html' -%}
    </div>
</div>