{% extends 'layout.html' %}
 

{% block header_styles %}
    <link rel="stylesheet" href="/main.css">
{% endblock %}


{% block body %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
{% endblock %}


{% block footer_styles %}
    <script>
        window.onerror = function (m, p, l) {
            alert(m + '; ' + p + '; ' + l);
        }
    </script>
    <script src="/main.js"></script>
{% endblock %}
