{% set activity_name = 'room_list' -%}

<div id="room_list_activity"
    class="activity{% if opened_activity == activity_name %} is-opened{% endif %}"
    ic-activity="{{ activity_name }}"
    ic-url="/rooms/"
    ic-type="list:rooms"
    >
    <div class="activity__header">
        <i class="activity__back material-icons" ic-open-sidebar="menu">&#xE5D2;</i>
        <h2>Комнаты</h2>
    </div>
    <div class="activity__body has-float-button">
        <ul class="list"></ul>
        <p class="activity__body-info">Список комнат пуст</p>
    </div>
    <button class="button button--floating icon icon--add"
        type="button"
        ic-open-activity="add_room">
    </button>
</div>