<div id="messager_activity"
    class="activity messager activity--empty"
    ic-activity="messager"
    ic-url="/"
    ic-type="messager"
    >
    <div class="activity__header activity__header--actions">
        <i class="activity__back material-icons">&#xE5CD;</i>
        <h2>0</h2>
        <div class="activity__actions">
            <i class="material-icons js-action-edit is-hidden">&#xE254;</i>
            <i class="material-icons js-action-save is-hidden">&#xE161;</i>
            <i class="material-icons js-action-delete">&#xE872;</i>
        </div>
    </div>
    <div class="activity__header">
        <i class="activity__back material-icons" ic-close-activity>&#xE5C4;</i>
        <h2 ic-open-activity="room_settings"></h2>
        <div class="room-info room-info--light"></div>
        <div class="activity__avatar avatar"></div>
        <a class="messager__unread-button button button--floating icon icon--unread is-hidden">0</a>
    </div>
    <div class="activity__body">
        <ul class="list messager__list"></ul>
    </div>
    <div class="activity__info">
        <p>Пожалуйста выберите комнату для начала общения</p>
    </div>
    <div class="activity__footer">
        <ul class="messager__preview"></ul>
        <div class="emoji-container is-hidden">
            <div class="emoji-container__body">
                <div class="emoji-container__list"></div>
            </div>
            <div class="emoji-container__tabs">
                {# todo: Популярные смайлы #}
                {#<i class="emoji-container__tab material-icons">&#xE192;</i>#}
                <i class="emoji-container__tab material-icons" data-page="people">&#xE7F2;</i>
                <i class="emoji-container__tab material-icons" data-page="nature">&#xE91D;</i>
                <i class="emoji-container__tab material-icons" data-page="food-drink">&#xE556;</i>
                <i class="emoji-container__tab material-icons" data-page="travel-places">&#xE531;</i>
                <i class="emoji-container__tab material-icons" data-page="symbols">&#xE52E;</i>
                {# todo: Поиск по смайлам #}
                {#<i class="emoji-container__tab material-icons">&#xE8B6;</i>#}
            </div>
        </div>
        <span class="messager__send icon icon--send"></span>
        <i class="messager__edit icon material-icons">&#xE254;</i>
        <label class="messager__attach icon icon--attach" for=image>
            <input id=image type=file multiple name=image accept="image/*">
        </label>
        <div class="messager__textarea">
            <textarea placeholder="Введите текст"></textarea>
        </div>
        <i class="messager__emoji icon material-icons">&#xE24E;</i>
    </div>
</div>
