<div id="room_settings_activity"
    class="activity"
    ic-activity="room_settings"
    ic-url="/rooms/settings"
    ic-type="settings"
    >
    <div class="activity__header">
        <i class="activity__back material-icons" ic-close-activity>&#xE5C4;</i>
        <h2>Настройки комнаты</h2>
    </div>
    <div class="activity__body has-float-button">
        <ul class="list list--preferences"
            ic-action="{{ url_for('room.update') }}"
            >
            <li class="list__item preference"
                ic-key="name"
                ic-type="text">
                <h2 class="preference__title">Название комнаты</h2>
                <p class="preference__summary"></p>
            </li>
            <li class="list__item preference"
                ic-key="lifetime"
                ic-type="range"
                ic-range-min="0"
                ic-range-max="360"
                ic-range-step="10"
                ic-icon="trash"
                >
                <h2 class="preference__title">Время жизни комнаты</h2>
                <p class="preference__summary" ic-format>%d минут</p>
            </li>
            <li class="list__item preference"
                ic-key="message_lifetime"
                ic-type="range"
                ic-range-min="0"
                ic-range-max="360"
                ic-range-step="10"
                ic-icon="trash"
                >
                <h2 class="preference__title">Время жизни сообщений</h2>
                <p class="preference__summary" ic-format>%d секунд</p>
            </li>
        </ul>
    </div>
</div>