{% from 'macroses/form.html' import render_field %}


<form action="{{ url_for('room.create') }}"
    method=post
    class=form
    autocomplete=off
    data-raform
    data-ajax=true
    >
    <div class="activity__header activity__header--large">
    <i class="activity__back material-icons" ic-close-activity>&#xE5C4;</i>
        <h2>Создание комнаты</h2>
        {{ render_field(
            room_settings_form.name,
            field_class='field--large field--light has-left-icon') }}
        {{ render_field(
            room_settings_form.description,
            field_class='field--light has-left-icon') }}
    </div>
    <div class="activity__body has-float-button">
        {{ render_field(room_settings_form.icon) }}
        {{ render_field(
            room_settings_form.lifetime,
            attrs={'has_result_input': True},
            field_class='has-right-icon',
            icon='trash') }}
        {{ render_field(
            room_settings_form.message_lifetime,
            attrs={'has_result_input': True},
            field_class='has-right-icon',
            icon='trash') }}
        <div class="form__description">
            <p>* 0 – без лимита времени.</p>
        </div>
        {{ render_field(room_settings_form.user_ids) }}
        <div class="form__buttons">
            <button class="button button--raised"
                type="submit"
                disabled>
                Создать
            </button>
        </div>
    </div>
</form>
