{% from 'macroses/form.html' import render_field %}


<form action="{{ url_for('user.add_contact') }}"
    method=post
    class=form
    autocomplete=off
    data-raform
    data-ajax=true
    >
    <div class="activity__header activity__header--large">
        <i class="activity__back material-icons" ic-close-activity>&#xE5C4;</i>
        <h2>Поиск контакта</h2>
        {{ render_field(
            add_contact_form.login, required=True,
            field_class='field--large field--light has-left-icon') }}
        {{ render_field(
            add_contact_form.name,
            field_class='field--light has-left-icon') }}
            
        <button class="button button--floating icon icon--add"
            type="submit"></button>
    </div>
</form>