{% from 'macroses/form.html' import render_field %}


<form class="form"
    action="{{ url_for('user.signin') }}"
    method="post"
    autocomplete="off"
    data-raform
    data-ajax=true
    >
    <br><br>
    {{ render_field(
        authorization_form.login,
        required=True,
        icon='user') }}
    {{ render_field(
        authorization_form.password,
        required=True,
        icon='password') }}
    <div class="form__buttons">
        <button class="button button--flat"
            type="button"
            ic-open-activity="user_signup">
            Регистрация
        </button>
        <button class="button button--raised"
            type="submit"
            disabled>
            Войти
        </button>
    </div>
</form>