{% from 'macroses/form.html' import render_field %}


<form class="form"
    action="{{ url_for('user.signup') }}"
    method="post"
    autocomplete="off"
    data-raform
    data-ajax=true
    >
    <br><br>
    {{ render_field(
        registration_form.login,
        required=True,
        icon='user') }}
    {{ render_field(
        registration_form.password,
        required=True,
        icon='password') }}
    {{ render_field(
        registration_form.confirm,
        required=True,
        icon='password') }}
    <div class="form__buttons">
        <button
            class="button button--raised"
            type="submit"
            disabled>
            Регистрация
        </button>
    </div>
</form>