* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
    &:not(input):not(textarea) {
        user-select: none;
    }
}

html {
    min-height: 100%;
    height: 100%;
}

body {
    background: #eaeaea;
    font-family: Roboto, Ubuntu, Arial, sans-serif;
    font-size: 87%;
    height: 100%;
}

input {
    font-family: Roboto, Ubuntu, Arial, sans-serif;
    
    &[type=file],
    &.is-hidden {
        display: none !important;
    }
}

p {
    font-weight: 300;
}

h2 {
    margin: 12px 0;
    font-size: 22px;
    font-weight: 300;
    line-height: 26px;
}