/* DIMENSIONS */
$padding_activity_horizontal: 16px !global;

/* OPACITY */
$opacity_icon_active: .54 !global;
$opacity_icon_inactive: .38 !global;

$opacity_icon-light_active: 1 !global;
$opacity_icon-light_inactive: .5 !global;

/* COLOR */
$color_black: #000;
$color_white: #fff;

$color_primary: #3F51B5 !global;
$color_primary-light: #c5cae9 !global;
$color_primary-dark: #303f9f !global;
$color_primary-50: #e8eaf6 !global;

$color_accent: #ff4091 !global;

$color_fallback-light: #ff80ab !global;
$color_fallback-dark: #f50057 !global;

$color_button_disabled: rgba($color_black, .12) !global;

$color_text_primary: rgba($color_black, .87) !global;
$color_text_secondary: rgba($color_black, .54) !global;
$color_text_disabled: rgba($color_black, .38) !global;
$color_text_hint: $color_text_disabled !global;

$color_text-light_primary: $color_white !global;
$color_text-light_secondary: rgba($color_white, .7) !global;
$color_text-light_disabled: rgba($color_white, .5) !global;
$color_text-light_hint: $color_text-light_disabled !global;

$color_theme_status-bar: $color_primary_dark !global;
$color_theme_app-bar: $color_primary !global;
$color_theme_app-bar_gray: #f5f5f5 !global;
$color_theme_background: #fafafa !global;
$color_theme_card: #fff !global;
/* -------- */

$color_border: #047794 !global;
$color_border-disabled: #ccc !global;

/*OLD*/
$color_light-blue: #bee1ec !global;
$color_dark-blue: #047794 !global;

$color_white: #fff !global;
$color_light-gray: #eaeaea !global;
$color_gray: #ccc !global;
$color_dark: #24252a !global;

$color_error: #dc2b46 !global;
$color_success: #34ca47 !global;

$border-style: 2px solid !global;
$border_disabled: $border-style $color_gray !global;
$border_active: $border-style $color_accent !global;
