<div class="sidebar" ic-sidebar="menu">
    <div class="sidebar__header"></div>
    <ul class="list sidebar__list">
        <li class="list__item" ic-open-activity="user_list">
            <i class="list__icon icon icon--contacts"></i>
            <div class="list__info">Контакты</div>
        </li>
        <li class="list__item list__item--divider"></li>
        <li class="list__item" ic-open-activity="add_user">
            <i class="list__icon icon icon--add-contact"></i>
            <div class="list__info">Добавить контакт</div>
        </li>
        {#<li class="list__item">#}
        {#    <i class="list__icon icon icon--settings"></i>#}
        {#    <div class="list__info">Настройки</div>#}
        {#</li>#}
    </ul>
</div>