<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="title" content="onear.me - Чат повышанной секьюрности">
    <meta name="description" content="Чат, нацеленный на безопасность передачи сообщений между пользователями в сети интернет #ideascup #onearme #secure #chat">
    <meta name="keywords" content="ideascup, onearme, secure, chat, безопастный, защищенный, чат">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#3F51B5">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#3F51B5">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#3F51B5">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block title %}<title>onear.me - Чат повышенной секьюрности</title>{% endblock %}
    {% block header_styles %}{% endblock %}
</head>
<body>
    {% block header %}
        {% include 'header.html' %}
    {% endblock %}
    
    {% block body %}{% endblock %}
    
    {% block footer %}
        {% include 'footer.html' %}
    {% endblock %}

    {% block footer_styles %}{% endblock %}
</body>
</html>